{%openside%}
    <div class='row'>
    <div class='text-center'>{%head%}</div>
        <div class='clearfix m-r-20 text-center'>
            <marquee behavior='scroll' align='center' valign='bottom' direction='up' width='120' height='120' scrollamount='2' scrolldelay='90' onmouseover='this.stop()' onmouseout='this.start()'>
                {stat.{
                    {%place%}
                    {%name%}
                    {%date%}
                }}
            </marquee>
        </div>
    </div>
    <div class='text-center'>{[OTPI_014]}</div>
{%closeside%}