{%opentable%}
    <div class='table-responsive m-t-20'>
        <table class='table table-hover table-striped'>
            <thead>
                <tr>
                    <th>
                        <small><strong>{[OTPI_015]}</strong></small>
                    </th>
                    <th>
                        <small><strong>{[OTPI_016]}</strong></small>
                    </th>
                    <th>
                        <small><strong>{[OTPI_017]}</strong></small>
                    </th>
                </tr>
            </thead>
            <tbody>
            {statall_block.{
                <tr>
                    <td>{%place%}</td>
                    <td>
                        <div class='clearfix'>
                            <div class='pull-left m-r-10'>{%avatar%}</div>
                            <div class='overflow-hide'><span class='m-l-10 m-r-10'>{%name%}</span></div>
                        </div>
                    </td>
                    <td>{%date%}</td>
                </tr>
            }}
            </tbody>
        </table>
    </div>
    {no_tag.{
        <div class='well text-center'>{%message%}</div>
    }}
    {pagenav.{
        <div class='text-right'>{%pagenav%}</div>
    }}
{%closetable%}