{%opentable%}
    {holiday.{
        <div class='bg-danger text-center'><small>{%holiday%}</small></div>
    }}
    {pricetype.{
        <div class='bg-danger text-center'><small>{%pricetype%}</small></div>
    }}
    {pointpanel.{
        <table class='table table-responsive table-striped'>
            <tbody class='text-smaller'>
            <tr id='points_{%id%}'>
        	    <td>{[PSP_003]}</td>
        	    <td>{%allpoint%}</td>
            </tr>
            <tr id='place_{%id%}'>
        	    <td>{[PSP_004]}</td>
        	    <td>{%place%}</td>
            </tr>
            <tr id='increase_{%id%}' class='success'>
        	    <td colspan='2' class='text-center'>{%increase%}</td>
            </tr>
            </tbody>
        </table>
        <table class='table table-responsive table-striped'>
            <thead>
            <tr>
                <th>
                    <small><strong>{[PSP_006]}</strong></small>
                </th>
                <th>
                    <small><strong>{[PSP_007]}</strong></small>
                </th>
                <th>
                    <small><strong>{[PSP_008]}</strong></small>
                </th>
            </tr>
            </thead>
            <tbody class='text-smaller'>
            <tr id='point_{%id%}'>
        	    <td>{%udate%}</td>
        	    <td>{%upont%}</td>
        	    <td>{%umod%}</td>
            </tr>
            </tbody>
        </table>
    }}
    {listmenu.{
        <div id='point_' class="text-center">{%listmenu%}</div>
    }}
    {no_item.{
        <div class="text-center">{%message%}</div>
    }}
{%closetable%}

